.scroll-pane .viewport {
    -fx-background-image: url('../images/background.jpg');
}

.scroll-pane, .split-pane {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.list-view, .split-pane {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.list-cell {
-fx-background-radius: 10px;
  -fx-background-color: #FFFFFF;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
   -fx-background-color: #4169E1;

 }

.list-cell:filled:hover {
    -fx-background-color:  #F5F5F5;
    -fx-text-color: white;
}